local_backend: true

backend:
  name: git-gateway
  branch: main

media_folder: "docs/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "docs"
    label: "Documentation"
    folder: "docs"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }


